pillow
opencv-python
diffusers
transformers
tokenizers
accelerate
tqdm
datasets
imageio
easydict
ftfy
dashscope
imageio-ffmpeg
# numpy==1.24.4
wandb
omegaconf
einops
av
# git+https://github.com/openai/CLIP.git  # 改为本地安装，见 Dockerfile
open_clip_torch
starlette
pycocotools
lmdb
matplotlib
sentencepiece
pydantic
scikit-image
huggingface_hub
dominate
# Optional TensorRT support:
#   pip install nvidia-pyindex
#   pip install nvidia-tensorrt
#   pip install pycuda
onnx
onnxruntime
onnxscript
onnxconverter_common
flask
flask-socketio
torchao
peft
